/* General Styles */
body {
    margin: 0;
    font-family: "Albert Sans", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 120%;
    background-color: #1a1a1a;
    color: #ffffff;
    line-height: 1.6;
}

/* Header Styles */
header {
    background-color: #333;
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: center;
}

nav ul {
    margin:10%;
}

nav ul a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
    padding: auto;
}

nav ul a a:hover {
    color: #00bcd4;
}

/* Main Section Styles */
main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
}

.intro-text {
    max-width: 600px;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #ccc;
    padding: 10px 20px;
    text-align: center;
    margin-top: 20px;
}

footer a {
    color: #00bcd4;
    text-decoration: none;
}

/* Responsive Design */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }
}

/* Style all font awesome icons */
.fa {
    padding: 10px;
    font-size: 50px;
    width: 20px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  

  .fa-instagram {
    background: #55ACEE;
    color: white;
    border-radius: 20%;
  }
  

  .fa-linkedin {
    background: #55ACEE;
    color: white;
    border-radius: 20%;
  }

  .container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.skill {
    margin-bottom: 20px;
}

.skill-name {
    margin-bottom: 5px;
    font-weight: bold;
}

.skill-bar {
    position: relative;
    height: 20px;
    background: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
}

.skill-bar-filled {
    height: 100%;
    background: linear-gradient(90deg, #6a11cb, #2575fc);
    width: 0;
    transition: width 0.5s ease-in-out;
}

.skill-bar[data-level="90"] .skill-bar-filled {
    width: 90%;
}

.skill-bar[data-level="75"] .skill-bar-filled {
    width: 75%;
}

.skill-bar[data-level="60"] .skill-bar-filled {
    width: 60%;
}

.skill-bar[data-level="50"] .skill-bar-filled {
    width: 50%;
}